<div>
    <div class="profile_card_tech" itemscope itemtype="http://schema.org/Person" itemprop="author">
        <img class="profile_card_image" src="{{ include.picture }}" alt="{{ include.name }}, {{ include.title }}"/>
        <div class="profile_card_tech_info">
            <div class="profile_card_tech_name">{{ include.name }}</div>
            <div class="profile_card_tech_title" itemprop="jobTitle">{{ include.title }}</div>
            <div class="profile_card_tech_team">{{ include.team }}</div>
            <div class="profile_card_tech_location">
                <svg width="10px" height="20px" viewBox="0 0 19 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
                        <g id="Template" transform="translate(-471.000000, -225.000000)" fill="#5C666E" fill-rule="nonzero">
                            <g id="Location" transform="translate(471.000000, 221.000000)">
                                <path d="M9.39130435,28 C3.13043478,21.7186523 0,16.8490871 0,13.3913043 C0,8.20463018 4.20463018,4 9.39130435,4 C14.5779785,4 18.7826087,8.20463018 18.7826087,13.3913043 C18.7826087,16.8490871 15.6521739,21.7186523 9.39130435,28 Z M9.39130435,16.5217391 C11.1201957,16.5217391 12.5217391,15.1201957 12.5217391,13.3913043 C12.5217391,11.662413 11.1201957,10.2608696 9.39130435,10.2608696 C7.66241296,10.2608696 6.26086957,11.662413 6.26086957,13.3913043 C6.26086957,15.1201957 7.66241296,16.5217391 9.39130435,16.5217391 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <div class="profile_card_tech_location_name">
                    {{ include.location }}
                </div>
            </div>
            <div class="profile_card_description">
                “{{ include.body }}”
            </div>
        </div>
    </div>
</div>

